
.graph-div {
    height: 500px;
    background-color: white;
}
#graphs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#graphs-container div {
    margin: 10px;
}
#crit-plot-mode{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
#context-div{
    width: 100%;
}
#criteria-div, #tech-div{
    width: 35%;
}