.control-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.dropdown-container {
    width: 30%;
    min-width: 200px;
    margin-bottom: 10px;
}

.slider-container {
    width: 90%;
    margin-top: 20px;
}

.graphs-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Deux colonnes égales */
    gap: 20px;
    margin: 20px;
}

.graph-container {
    height: 70vh;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}